**/.DS_Store
TVP/TVP.xcodeproj/xcuserdata
TVP/TVP.xcodeproj/project.xcworkspace/xcshareddata
TVP/TVP.xcodeproj/project.xcworkspace/xcuserdata
build
TVP/build
TVP/TVP.framework
TVPBundleDemo/TVPBundleDemo.xcodeproj/project.xcworkspace/xcshareddata
TVPBundleDemo/TVPBundleDemo.xcodeproj/project.xcworkspace/xcuserdata
TVPBundleDemo/TVPBundleDemo.xcodeproj/xcuserdata
